
<p-confirmdialog key="confirmDialog" />


@switch (layoutService.layout$ | async) {

    @case (PageLayout.Public) {
        <app-layout-public>
            <router-outlet></router-outlet>
        </app-layout-public>
    }
    @case (PageLayout.Dashboard) {
        <app-layout-dashboard>
            <router-outlet></router-outlet>
        </app-layout-dashboard>
    }

    @case (PageLayout.Blank) {
        <router-outlet></router-outlet>
    }

    @default {
        <app-layout-public>
            <router-outlet></router-outlet>
        </app-layout-public>
    }
}
