<div class="bg-surface-0 grid px-6 py-20 md:px-12 lg:px-20 h-100  items-center">
    <div
        class="text-surface-700  flex flex-col items-center gap-4 text-center">
        <div class="text-primary text-lg leading-tight font-bold">
            <i class="pi pi-discord text-lg! leading-none!"></i>&nbsp;POWERED BY
            DISCORD
        </div>
        <div
            class="text-surface-900  text-4xl leading-tight font-bold">
            Join our design community
        </div>
        <div
            class="text-surface-700  text-xl leading-normal">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit
            numquam eligendi quos.
        </div>
        <button pButton [rounded]="true" class="mt-4">
            <i pButtonIcon class="pi pi-discord"></i>
            <span pButtonLabel>Join Now</span>
        </button>
    </div>
</div>
